/*
 * Global Styles
 */
body {
	background-color: #FFF;
	color: #202020;
	font: normal 100%/180% Helvetica, Arial, sans-serif;
}

body, img {
	/* scaling hi-res images down for mobile is poor mobile design
	 * @TODO: implement true responsive images
	 */
	max-width: 100%;
}

#content {
	margin: 2em;
}


/**
 * 	Media-specific Styles
 */
@media screen and (min-width:480px) and (max-width:800px) {
  /* Target landscape smartphones, portrait tablets, narrow desktops
  */
	body {
		min-width: 480px;
	}
}

@media screen and (max-width:479px) {
  /* Target portrait smartphones */
}